<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.it.euler.mapper.RegionMapper">

    <select id="findAllCountryName" resultType="java.lang.String">
        select country_name
        from country_t
        order by country_t.group asc, country_name asc
    </select>

    <select id="findAllProvince" resultType="java.lang.String">
        select title
        from region_t
        where `level` = 1
    </select>

    <select id="findCityByProvince" parameterType="java.lang.String" resultType="java.lang.String">
        select title
        from region_t
        where `level` = 2
        and parent_id = (select id from region_t where title = #{province} and `lecel` = 1)
    </select>

</mapper>